<main class="player">
  <audio
    #audioRef
    src="../assets/thepower.wav"
    (timeupdate)="updateProgress(audioRef, progressRef)"
  ></audio>
  <progress class="player__progress" #progressRef max="1"></progress>
  <button
    type="button"
    class="player__play-button"
    (click)="playSound(audioRef)"
  >
    Play
  </button>
  <input
    type="range"
    value="100"
    #volumeRef
    (input)="changeVolume(audioRef, volumeRef)"
    (change)="changeVolume(audioRef, volumeRef)"
  />
  <span>{{ audioRef.volume }}</span>
  <input type="file" accept="audio/*" />
</main>
