<main class="main">
  <section class="main__section">
    <div class="section__visualizer">
      <canvas
        #visualizerRef
        class="visualizer__canvas"
        width="450"
        height="450"
      ></canvas>
    </div>
    <div class="main__player">
      <audio
        #audioRef
        src="{{ this.fileUrl }}"
        (timeupdate)="onUpdateProgress(audioRef, progressRef)"
        (ended)="this.isPlay = false; audioRef.currentTime = 0"
      ></audio>
      <div class="player__progress">
        <input
          type="range"
          #progressRef
          class="progress__bar"
          defaultValue="0"
          [max]="duration"
          (input)="seekTo(audioRef, progressRef)"
        />
        <div class="progress__time">
          <span>{{ this.formatTime(this.currentTime) }} </span>
          <span>{{ this.formatTime(this.duration) }}</span>
        </div>
      </div>
      <div class="player__control">
        <div class="control__buttons">
          <button
            type="button"
            class="buttons__button-small"
            (click)="stopSound(audioRef)"
          >
            <mat-icon>stop</mat-icon>
          </button>
          <button
            type="button"
            class="buttons__button-large"
            (click)="playSound(audioRef)"
          >
            @if (this.isPlay) {
              <mat-icon [className]="'scale-125'">pause</mat-icon>
            } @else {
              <mat-icon [className]="'scale-125'">play_arrow</mat-icon>
            }
          </button>
          <button class="buttons__button-small" (click)="loopSound(audioRef)">
            <mat-icon [ngStyle]="{ color: isLoop ? '#0075ff' : 'black' }"
              >replay</mat-icon
            >
          </button>
        </div>
        <div class="control__volume">
          <mat-icon [ngStyle]="{ color: 'white' }">volume_up</mat-icon>
          <input
            type="range"
            value="100"
            #volumeRef
            class="volume__bar"
            (input)="onChangeVolume(audioRef, volumeRef)"
            (change)="onChangeVolume(audioRef, volumeRef)"
          />
        </div>
      </div>
      <input
        type="file"
        accept="audio/*"
        #fileRef
        class="player__file-input"
        (change)="onFileSelected(fileRef)"
      />
    </div>
  </section>
</main>
